/*----------------- ОБНУЛЕНИЕ -----------------*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*-----------------  -----------------*/
body{
    background: linear-gradient(to top left, #ffd1db, #adffad);
}
.container{
    margin: 0 auto;
    max-width: 1000px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}
.img-logo{
    padding: 10px;
    display: block;
    margin: 0 auto;
}
.h1-under-logo{
    font-family: "Lucida Calligraphy", cursive;
    color: midnightblue;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 5px;
}
.p-under-logo{
    font-family: "Courier New", monospace;
    font-style: italic;
    font-size: 1.2rem;
}
.footer{
    flex: 0 0 auto;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: lighter;
    text-shadow: -1px -1px #FFF, -2px -2px #FFF, -1px 1px #FFF, -2px 2px #FFF,
            1px 1px #FFF, 2px 2px #FFF, 1px -1px #FFF, 2px -2px #FFF, -3px -3px 2px #BBB,
            -3px 3px 2px #BBB, 3px 3px 2px #BBB, 3px -3px 2px #BBB;
    color: darkblue;
    transition: all 1s;
}
.footer:hover{
    color: deeppink;
}
.content{
    flex: 1 1 auto;
    margin: 3rem auto;
    display: flex;
    width: 100%;
    justify-content: right;
}
.h3-above-section{
    font-family: "Lucida Sans", sans-serif;
    font-style: italic;
    text-decoration-line: underline;
    margin-bottom: 5px;
    font-size: 1.4rem;
}
.main-input{
    font-size: 1.1rem;
    height: 40px;
    margin: 5px 0;
    border: 1px solid black;
    background-color: #f5f5e6;
}
.input-section{
    min-width: 300px;
    margin-right: 50px;
}
.output-section{
    min-width: 500px;
    max-height: 500px;
}
.form{
    display: flex;
    flex-direction: column;
}
.container-buttons{
    display: flex;
}
.button{
    width: 100px;
    height: 50px;
    margin: 10px auto;
    border-radius: 30%;
}
.button:hover{
    transform: scale(1.2);
}
.button-send{
    background: center #19c041 url('/img/logo-send.png') no-repeat;
    border: 2px solid black;
}
.button-disc{
    background: center #ff7f7f url('/img/logo-disc.png') no-repeat;
    border: 2px dashed black;
    opacity: 0.6;
}
.messages{
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid black;
    border-radius: 5%;
    background-color: #f5f5e6;
}